<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cs" connectionString="DefaultEndpointsProtocol=https;AccountName=pppkdbblob;AccountKey=rqN8bQxgZxYX4H/LpTr/9egrLF7uFgEk/WV5WSf15eUeR/ByH1lsPZi+w+ph53SdW1bPSdbTFrSY+AStd31rOA==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
